[defaults]
inventory             = inventory.yml
host_key_checking     = False
stdout_callback       = yaml
retry_files_enabled   = False
# Permite que o inventário cloud.terraform corra sem warnings
enable_plugins        = cloud.terraform.terraform_provider, cloud.terraform.terraform_state

[ssh_connection]
pipelining = True
